<a href="https://colab.research.google.com/github/galdir/Data-Analysis-with-Python/blob/main/Tema_7_Numpy_e_Pandas_Deitel_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 Numpy

NumPy é abreviação de Numerical Python

Aqui estão algumas das coisas que você encontrará no NumPy:

* ndarray, um array multidimensional eficiente que fornece operações aritméticas rápidas orientadas ao array e recursos de transmissão flexíveis

* Funções matemáticas para operações rápidas em arrays inteiros de dados sem ter que escrever loops

* Ferramentas para ler/gravar dados de array em disco e trabalhar com arquivos mapeados em memória

* Recursos de álgebra linear, geração de números aleatórios e transformada de Fourier

* Uma API C para conectar o NumPy com bibliotecas escritas em C, C++ ou FORTRAN

Embora o NumPy por si só não forneça funcionalidade de modelagem científica, ter uma compreensão dos arrays NumPy e da computação orientada a array ajudará você a usar ferramentas com semântica de computação de array, como pandas, com muito mais eficiência. 

Como o NumPy é um tópico grande, abordaremos só recursos mais necessários

Uma das razões pelas quais o NumPy é tão importante para cálculos numéricos em Python é porque ele foi projetado para eficiência em grandes matrizes de dados.

# 2 Criando `arrays` a partir de dados existentes

In [ ]:
import numpy as np

In [ ]:
numbers = np.array([2, 3, 5, 7, 11])

In [ ]:
type(numbers)

numpy.ndarray

In [ ]:
numbers

array([ 2,  3,  5,  7, 11])

### Argumentos Multidimensionais

In [ ]:
np.array([[1, 2, 3], [4, 5, 6]])

array([[1, 2, 3],
       [4, 5, 6]])

## Atividade

### Crie um `array` unidimensional a partir de uma compreensão de lista que produz os inteiros pares de 2 a 20.

Resposta:

In [ ]:
import numpy as np

np.array([x for x in range(2, 21, 2)])

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

### Crie um `array` de 2 por 5 contendo os inteiros pares de 2 a 10 na primeira linha e os inteiros ímpares de 1 a 9 na segunda linha.

Resposta

In [ ]:
np.array([[x for x in range(2, 11, 2)],[x for x in range(1, 10, 2)]])

array([[ 2,  4,  6,  8, 10],
       [ 1,  3,  5,  7,  9]])

# 3 Attributos de `array`

Vamos usar uns arrays de teste

In [ ]:
import numpy as np

In [ ]:
integers = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
integers

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
floats = np.array([0.0, 0.1, 0.2, 0.3, 0.4])

In [ ]:
floats

array([0. , 0.1, 0.2, 0.3, 0.4])

In [ ]:
integers.dtype

dtype('int64')

In [ ]:
floats.dtype

dtype('float64')

### Determinando as dimensões de um `array`

In [ ]:
integers.ndim

2

In [ ]:
floats.ndim

1

In [ ]:
integers.shape

(2, 3)

In [ ]:
floats.shape

(5,)

### Determinando o número de elementos e o tamanho em bytes do elemento de um `array`

In [ ]:
integers.size

6

In [ ]:
integers.itemsize

8

In [ ]:
floats.size

5

In [ ]:
floats.itemsize

8

### Iterando através dos elementos de um `array` multidimensional

In [ ]:
for linha in integers:
    for valores in linha:
        print(valores, end='  ')
    print('')

1  2  3
4  5  6

In [ ]:
for i in integers.flat:
  print(i, end=' ')

1 2 3 4 5 6

## Atividade

Para a matriz bidimensional abaixo:
* [[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]
 
exiba o número de dimensões e a forma da matriz.

In [ ]:
a = np.array([[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]])

In [ ]:
a.ndim

2

In [ ]:
a.shape

(2, 5)

# 4 Preenchendo `array`s com valores específicos

In [ ]:
import numpy as np

In [ ]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [ ]:
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [ ]:
np.ones((2,4), dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [ ]:
np.full((2, 3), 7)

array([[7, 7, 7],
       [7, 7, 7]])

# 5 Criando `array`s a partir de intervalos

### Criando intervalos inteiros com `arange`

In [ ]:
import numpy as np

In [ ]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [ ]:
np.arange(5, 10)

array([5, 6, 7, 8, 9])

In [ ]:
np.arange(10, 1, -2)

array([10,  8,  6,  4,  2])

### Criando intervalos de ponto flutuante com `linspace`

In [ ]:
np.linspace(0.0, 1.0, num=5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [ ]:
np.linspace(0.0, 10, num=5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

### Remodelando um `array`

In [ ]:
numeros = np.arange(1, 21)

In [ ]:
numeros

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [ ]:
numeros.reshape(4, 5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [ ]:
a = np.arange(1, 21)

In [ ]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [ ]:
a.reshape(4,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

### Exibindo grandes `array`s

In [ ]:
np.arange(1, 100001).reshape(4, 25000)

array([[     1,      2,      3, ...,  24998,  24999,  25000],
       [ 25001,  25002,  25003, ...,  49998,  49999,  50000],
       [ 50001,  50002,  50003, ...,  74998,  74999,  75000],
       [ 75001,  75002,  75003, ...,  99998,  99999, 100000]])

In [ ]:
np.arange(1, 100001).reshape(100, 1000)

array([[     1,      2,      3, ...,    998,    999,   1000],
       [  1001,   1002,   1003, ...,   1998,   1999,   2000],
       [  2001,   2002,   2003, ...,   2998,   2999,   3000],
       ...,
       [ 97001,  97002,  97003, ...,  97998,  97999,  98000],
       [ 98001,  98002,  98003, ...,  98998,  98999,  99000],
       [ 99001,  99002,  99003, ...,  99998,  99999, 100000]])

## Atividade

Use a função NumPy `arange` para criar um `array` de 20 inteiros pares de 2 a 40, então remodele o resultado em um `array` de 4 por 5.

Resposta

In [ ]:
import numpy as np

# 6 Desempenho de lista vs. `array`: Apresentando `%timeit`

### Cronometrando a criação de uma lista contendo resultados de 6.000.000 lançamentos de dados

In [ ]:
import random

In [ ]:
%timeit rolls_list = [random.randrange(1, 7) for i in range(0, 6_000_000)]

6.74 s ± 31.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Cronometrando a criação de um `array` contendo resultados de 6.000.000 lançamentos de dados

In [ ]:
import numpy as np

In [ ]:
%timeit rolls_array = np.random.randint(1, 7, 6_000_000)

70.8 ms ± 851 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### 60,000,000 e 600,000,000 lançamentos de dados

In [ ]:
%timeit rolls_array = np.random.randint(1, 7, 60_000_000)

678 ms ± 7.16 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit rolls_array = np.random.randint(1, 7, 600_000_000)

6.57 s ± 9.12 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Outras magias do IPython

* %load para ler o código no IPython de um arquivo local ou URL.
* %save para salvar trechos em um arquivo.
* %run para executar um arquivo .py do IPython.
* %precision para alterar a precisão de ponto flutuante padrão para saídas do IPython.
* %cd para alterar os diretórios sem precisar sair do IPython primeiro.
* %edit para iniciar um editor externo—útil se você precisar modificar algo mais complexo
trechos.
* %history para ver uma lista de todos os snippets e comandos que você executou na sessão atual do IPython.

## Atividade

### Use `%timeit` para comparar o tempo de execução das duas instruções a seguir. O primeiro usa uma compreensão de lista para criar uma lista de inteiros de 0 a 9.999.999 e depois os totaliza com a função interna `sum`. A segunda instrução faz a mesma coisa usando um `array` e seu método `sum`.
```python
sum([x for x in range(10_000_000)])
np.arange(10_000_000).sum()
```

# 7 Operadores de `array`

### Operações aritméticas com `array`s e valores numéricos individuais

In [ ]:
import numpy as np

In [ ]:
numbers = np.arange(1, 6)

In [ ]:
numbers

array([1, 2, 3, 4, 5])

In [ ]:
numbers * 5

array([ 5, 10, 15, 20, 25])

In [ ]:
numbers ** 2

array([ 1,  4,  9, 16, 25])

In [ ]:
numbers

array([1, 2, 3, 4, 5])

In [ ]:
numbers += 10

In [ ]:
numbers

array([11, 12, 13, 14, 15])

### Broadcasting

Normalmente, as operações aritméticas requerem como operandos dois arrays de mesmo tamanho e forma.

Quando um operando é um valor único, chamado de escalar, NumPy executa os cálculos elementares como se o escalar fosse uma matriz da mesma forma que o outro operando, mas com o valor escalar em todos os seus elementos.

numbers * 2

é o mesmo que 

numbers * [2, 2, 2, 2, 2]

### Operações aritméticas entre `array`s

In [ ]:
numbers2 = np.linspace(1.1, 5.5, 5)

In [ ]:
numbers2

array([1.1, 2.2, 3.3, 4.4, 5.5])

In [ ]:
numbers

array([11, 12, 13, 14, 15])

In [ ]:
numbers * numbers2

array([12.1, 26.4, 42.9, 61.6, 82.5])

### Comparando arrays

In [ ]:
numbers

array([11, 12, 13, 14, 15])

In [ ]:
numbers >= 13

array([False, False,  True,  True,  True])

In [ ]:
numbers2

array([1.1, 2.2, 3.3, 4.4, 5.5])

In [ ]:
numbers2 < numbers

array([ True,  True,  True,  True,  True])

In [ ]:
numbers == numbers2

array([False, False, False, False, False])

In [ ]:
numbers == numbers

array([ True,  True,  True,  True,  True])

## Atividade

### Crie uma matriz dos valores de 1 a 5 e use a broadcasting (difusão) para elevar cada valor ao quadrado.

In [ ]:
import numpy as np

a = np.arange(1,6)
a **= 2
a

array([ 1,  4,  9, 16, 25])

# 8 Métodos de cálculo NumPy

In [ ]:
import numpy as np

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90],
                   [94, 77, 90], [100, 81, 82]])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [ ]:
grades.sum()

1054

In [ ]:
grades.min()

70

In [ ]:
grades.max()

100

In [ ]:
grades.mean()

87.83333333333333

In [ ]:
grades.var()

77.30555555555556

In [ ]:
grades.std()

8.792357792739987

### Cálculos por Linha ou Coluna

In [ ]:
grades.mean(axis=0)

array([95.25, 85.25, 83.  ])

In [ ]:
grades[:,0].mean()

95.25

In [ ]:
grades.mean(axis=1)

array([84.33333333, 92.33333333, 87.        , 87.66666667])

## Atividade

Use a geração de números aleatórios NumPy para criar uma matriz de doze notas aleatórias no intervalo de 60 a 100 e, em seguida, reformule o resultado em uma matriz de 3 por 4. Calcule a média de todas as notas, as médias das notas em cada coluna e as médias das notas em cada linha.

Resposta

# 9 Funções Universais

O NumPy oferece dezenas de funções universais autônomas (ou ufuncs) que executam várias operações elementares.

Cada um executa sua tarefa usando um ou dois argumentos de matriz ou de matriz (como listas).

In [ ]:
import numpy as np

In [ ]:
numbers = np.array([1, 4, 9, 16, 25, 36])

In [ ]:
np.sqrt(numbers)

array([1., 2., 3., 4., 5., 6.])

In [ ]:
numbers2 = np.arange(1, 7) * 10

In [ ]:
numbers2

array([10, 20, 30, 40, 50, 60])

In [ ]:
np.add(numbers, numbers2)

array([11, 24, 39, 56, 75, 96])

In [ ]:
np.add(numbers, [10, 20, 30, 40, 50, 60])

array([11, 24, 39, 56, 75, 96])

### Other Universal Functions

![image.png]()

# 10 Indexação e fatiamento

### Indexação com `array`s bidimensionais

In [ ]:
import numpy as np

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90],
                   [94, 77, 90], [100, 81, 82]])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [ ]:
grades[0, 1]

96

### Selecionando um subconjunto de linhas de um `array` bidimensional

In [ ]:
grades[1]

array([100,  87,  90])

In [ ]:
grades[0:2]

array([[ 87,  96,  70],
       [100,  87,  90]])

In [ ]:
grades[1:3]

array([[100,  87,  90],
       [ 94,  77,  90]])

In [ ]:
grades[[1, 3]]

array([[100,  87,  90],
       [100,  81,  82]])

### Selecionando um subconjunto de colunas de um `array` bidimensional

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [ ]:
grades[:, 0]

array([ 87, 100,  94, 100])

In [ ]:
grades[:,1:3]

array([[96, 70],
       [87, 90],
       [77, 90],
       [81, 82]])

In [ ]:
grades[:, [0, 2]]

array([[ 87,  70],
       [100,  90],
       [ 94,  90],
       [100,  82]])

## Atividade

### Dada o seguinte array: 
```python 
array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])
```
escreva instruções para executar as seguintes tarefas:

**a.** Selecione a segunda linha.

**b.** Selecione a primeira e a terceira linha.

**c.** Selecione as três colunas do meio.

Resposta

In [ ]:
matriz = np.array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [ ]:
matriz

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [ ]:
print(f"1:\n{matriz[[1]]}")
print(f"2: \n{matriz[[0,2]]}")
print(f"3: \n{matriz[:, 1:4]}")

1:
[[ 6  7  8  9 10]]
2:
[[ 1  2  3  4  5]
 [11 12 13 14 15]]
3:
[[ 2  3  4]
 [ 7  8  9]
 [12 13 14]]

# 11 Views: cópias rasas

In [ ]:
import numpy as np

In [ ]:
numbers = np.arange(1, 6)

In [ ]:
numbers

array([1, 2, 3, 4, 5])

In [ ]:
numbers2 = numbers.view()

In [ ]:
numbers2

array([1, 2, 3, 4, 5])

In [ ]:
id(numbers)

140475233913904

In [ ]:
id(numbers2)

140475233976016

In [ ]:
numbers[1] *= 10

In [ ]:
numbers

array([ 1, 20,  3,  4,  5])

In [ ]:
numbers2

array([ 1, 20,  3,  4,  5])

In [ ]:
numbers2[1] /= 10

In [ ]:
numbers

array([1, 2, 3, 4, 5])

In [ ]:
numbers2[1] *= 10

In [ ]:
numbers2

array([ 1, 20,  3,  4,  5])

In [ ]:
numbers

array([ 1, 20,  3,  4,  5])

In [ ]:
print(numbers2.base)

[ 1 20  3  4  5]

In [ ]:
print(numbers.base)

None

### Views de fatiamentos

In [ ]:
numbers2 = numbers[0:3]

In [ ]:
numbers2

array([ 1, 20,  3])

In [ ]:
id(numbers)

140475233913904

In [ ]:
id(numbers2)

140475233668720

In [ ]:
numbers *= 2

In [ ]:
numbers2

array([ 2, 40,  6])

# 12 Cópias profundas

In [ ]:
import numpy as np

In [ ]:
numbers = np.arange(1, 6)

In [ ]:
numbers

array([1, 2, 3, 4, 5])

In [ ]:
numbers2 = numbers.copy()

In [ ]:
numbers2

array([1, 2, 3, 4, 5])

In [ ]:
print(numbers2.base)

None

# 13 Reformulando e Transpondo

### `reshape` vs. `resize`

O método reshape retorna uma visão (cópia rasa) da matriz original com as novas dimensões.

In [ ]:
import numpy as np

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90]])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [ ]:
grades.reshape(1,6)

array([[ 87,  96,  70, 100,  87,  90]])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

O método resize modifica a forma do array original:

In [ ]:
grades.resize(1, 6)

In [ ]:
grades

array([[ 87,  96,  70, 100,  87,  90]])

### `flatten` vs. `ravel`

O método flatten cria uma cópia profunda do original

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90]])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [ ]:
flattened = grades.flatten()

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [ ]:
flattened

array([ 87,  96,  70, 100,  87,  90])

In [ ]:
flattened[0] = 100

In [ ]:
flattened

array([100,  96,  70, 100,  87,  90])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

O método ravel produz uma visão do array original, que compartilha os dados do array grades:

In [ ]:
raveled = grades.ravel()

In [ ]:
raveled

array([ 87,  96,  70, 100,  87,  90])

In [ ]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [ ]:
raveled[0]=100

In [ ]:
raveled

array([100,  96,  70, 100,  87,  90])

In [ ]:
grades

array([[100,  96,  70],
       [100,  87,  90]])

### Transpondo linhas e colunas

In [ ]:
grades

array([[100,  96,  70],
       [100,  87,  90]])

In [ ]:
grades.T

array([[100, 100],
       [ 96,  87],
       [ 70,  90]])

### Empilhamento horizontal e vertical

In [ ]:
grades2 = np.array([[94, 77, 90], [100, 81, 82]])

In [ ]:
grades2

array([[ 94,  77,  90],
       [100,  81,  82]])

In [ ]:
np.hstack((grades, grades2))

array([[100,  96,  70,  94,  77,  90],
       [100,  87,  90, 100,  81,  82]])

In [ ]:
np.vstack((grades, grades2))

array([[100,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

## Atividade

Dado um `array` 2-por-3 :
```python 
array([[1, 2, 3],
       [4, 5, 6]])
```
use `hstack` e `vstack` para produzir o seguinte `array`:
```python
array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])
```

Resposta

# 14 Pandas

A matriz do NumPy é otimizada para dados numéricos homogêneos que são acessados por meio de índices inteiros. 

A ciência de dados apresenta demandas únicas para as quais são necessárias estruturas de dados mais personalizadas.

Pandas é a biblioteca mais popular para lidar com esses dados. 

Ele fornece duas coleções de chaves que você usará em várias de nossas seções de Introdução à ciência de dados e em todos os estudos de caso de ciência de dados — Séries para coleções unidimensionais e DataFrames para coleções bidimensionais.

Wes McKinney criou pandas em 2008 enquanto trabalhava na indústria. O nome pandas é derivado do termo “dados do painel”, que são dados para medições ao longo do tempo, como preços de ações ou leituras históricas de temperatura.

McKinney precisava de uma biblioteca na qual as mesmas estruturas de dados pudessem lidar com dados temporais e não baseados em tempo com suporte para alinhamento de dados, dados ausentes, manipulações comuns de dados no estilo de banco de dados e muito mais.

NumPy e pandas estão intimamente relacionados. 

Series e DataFrames usam arrays “sob o capô”. Series e DataFrames são argumentos válidos para muitas operações NumPy. Da mesma forma, os arrays são argumentos válidos para muitas operações Series e DataFrame.

## Pandas `Series`

### Criando `Series` com índices padrão

In [ ]:
import pandas as pd

In [ ]:
grades = pd.Series([87, 100, 94])

### Exibindo `Series`

In [ ]:
grades

0     87
1    100
2     94
dtype: int64

In [ ]:
type(grades)

pandas.core.series.Series

### Criando uma `Série` com todos os elementos com o mesmo valor

In [ ]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

### Acessando elementos de uma `série`

In [ ]:
grades[0]

87

### Produzindo Estatísticas Descritivas para uma `Série`

In [ ]:
grades.count()

3

In [ ]:
grades.mean()

93.66666666666667

In [ ]:
grades.min()

87

In [ ]:
grades

0     87
1    100
2     94
dtype: int64

In [ ]:
sorted(grades)

[87, 94, 100]

In [ ]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

Os 25%, 50% e 75% são quartis:
• 50% representa a mediana dos valores ordenados.
• 25% representa a mediana da primeira metade dos valores ordenados.
• 75% representa a mediana da segunda metade dos valores ordenados.

Para os quartis, se houver dois elementos do meio, sua média será a mediana desse quartil. 

Temos apenas três valores em nossa série, então o quartil de 25% é a média de 87 e 94, e o quartil de 75% é a média de 94 e 100. 

Juntos, o intervalo interquartil é o quartil de 75% menos o quartil de 25%. , que é outra medida de dispersão, como desvio padrão e variância. 

Obviamente, quartis e intervalo interquartil são mais úteis em conjuntos de dados maiores.

### Criando uma `série` com índices personalizados

In [ ]:
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])

In [ ]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [ ]:
grades.Wally

87

In [ ]:
grades['Wally']

87

### Inicializadores por dicionário

In [ ]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

In [ ]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

### Acessando elementos de uma "série" por meio de índices personalizados

In [ ]:
grades['Eva']

100

In [ ]:
grades.Wally

87

In [ ]:
grades.dtype

dtype('int64')

In [ ]:
grades.values

array([ 87, 100,  94])

### Criando uma série de strings

In [ ]:
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])

In [ ]:
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [ ]:
hardware.str.contains('a')

0     True
1     True
2    False
dtype: bool

In [ ]:
hardware.str.upper()

0    HAMMER
1       SAW
2    WRENCH
dtype: object

In [ ]:
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

## Atividade

### Use a geração de números aleatórios do NumPy para criar um `array` de cinco inteiros aleatórios que representam as temperaturas do verão no intervalo de 26 a 33 e, em seguida, execute as seguintes tarefas:

**a.** Converta o `array` em uma `Series` chamada `temperatures` e exiba-o.

**b.** Determine as temperaturas mínima, máxima e média.

**c.** Produza estatísticas descritivas para a `Série`.

Resposta

## `DataFrame`s

Um DataFrame é uma matriz bidimensional aprimorada. 

Assim como o Series, os DataFrames podem ter índices personalizados de linha e coluna e oferecer operações e recursos adicionais que os tornam mais convenientes para muitas tarefas orientadas à ciência de dados. 

Os DataFrames também suportam dados ausentes. Cada coluna em um DataFrame é uma série. A série que representa cada coluna pode conter diferentes tipos de elementos, como você verá em breve quando discutirmos o carregamento de conjuntos de dados em DataFrames.

### Criando um `DataFrame` a partir de um dicionário

In [ ]:
import pandas as pd

In [ ]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}

In [ ]:
grades_dict

{'Wally': [87, 96, 70],
 'Eva': [100, 87, 90],
 'Sam': [94, 77, 90],
 'Katie': [100, 81, 82],
 'Bob': [83, 65, 85]}

In [ ]:
grades_dict['Wally']

[87, 96, 70]

In [ ]:
grades = pd.DataFrame(grades_dict)

In [ ]:
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [ ]:
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

### Personalizando os índices de um `DataFrame` com o atributo `index`

In [ ]:
grades.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
grades.index = ['Test1', 'Test2', 'Test3']

In [ ]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [ ]:
grades = pd.DataFrame( grades_dict, index=['Test1', 'Test2', 'Test3'])

### Acessando as colunas de um `DataFrame`

In [ ]:
grades['Eva']

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

In [ ]:
grades['Eva'].mean()

92.33333333333333

In [ ]:
grades['Eva']['Test1']

100

In [ ]:
grades.Eva

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

In [ ]:
grades.Eva.Test1

100

### Selecionando linhas por meio dos atributos `loc` e `iloc`

Embora os DataFrames suportem recursos de indexação com [], a documentação do pandas recomenda o uso dos atributos loc, iloc, at e iat, que são otimizados para acessar DataFrames e também fornecem recursos adicionais além do que você pode fazer apenas com [].

In [ ]:
grades.loc['Test1']

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

In [ ]:
grades.iloc[0]

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

In [ ]:
grades.iloc[1]

Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Test2, dtype: int64

### Selecionando linhas por meio de fatias e listas com os atributos `loc` e `iloc`

In [ ]:
grades.loc['Test1':'Test2']

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65

In [ ]:
grades.iloc[0:2]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65

In [ ]:
grades.iloc[[0,2]]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

### Selecionando Subconjuntos de Linhas e Colunas

In [ ]:
grades.loc['Test1':'Test2', ['Eva', 'Katie']]

       Eva  Katie
Test1    0    100
Test2   87     81

In [ ]:
grades.iloc[[0,2], 0:3]

       Wally  Eva  Sam
Test1     87  100   94
Test3     70   90   90

### Indexação Booleana

quero as notas maiores ou iguais a 90

In [ ]:
grades >= 90

       Wally    Eva    Sam  Katie    Bob
Test1  False   True   True   True  False
Test2   True  False  False  False  False
Test3  False   True   True  False  False

In [ ]:
grades[grades >= 90]

       Wally    Eva   Sam  Katie  Bob
Test1    NaN  100.0  94.0  100.0  NaN
Test2   96.0    NaN   NaN    NaN  NaN
Test3    NaN   90.0  90.0    NaN  NaN

In [ ]:
grades[grades>=90].loc['Test1']

Wally      NaN
Eva      100.0
Sam       94.0
Katie    100.0
Bob        NaN
Name: Test1, dtype: float64

In [ ]:
grades[(grades < 90) & (grades>=80)]

       Wally   Eva  Sam  Katie   Bob
Test1   87.0   NaN  NaN    NaN  83.0
Test2    NaN  87.0  NaN   81.0   NaN
Test3    NaN   NaN  NaN   82.0  85.0

### Acessando uma célula 'DataFrame' específica por linha e coluna

Você pode usar os atributos at e iat de um DataFrame para obter um único valor de um DataFrame.
Como loc e iloc, at usa rótulos e iat usa índices inteiros.

In [ ]:
grades.at['Test2', 'Eva']

87

In [ ]:
grades['Eva']['Test2']

87

In [ ]:
grades.iat[2, 0]

70

In [ ]:
grades.at['Test2', 'Eva'] = 100

In [ ]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

### Estatísticas descritivas

In [ ]:
grades.describe()

           Wally         Eva        Sam       Katie        Bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   92.333333  87.000000   87.666667  77.666667
std    13.203535    6.806859   8.888194   10.692677  11.015141
min    70.000000   87.000000  77.000000   81.000000  65.000000
25%    78.500000   88.500000  83.500000   81.500000  74.000000
50%    87.000000   90.000000  90.000000   82.000000  83.000000
75%    91.500000   95.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

In [ ]:
pd.set_option('precision', 2)

In [ ]:
grades.describe()

       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   87.67  77.67
std    13.20    6.81   8.89   10.69  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   81.50  74.00
50%    87.00   90.00  90.00   82.00  83.00
75%    91.50   95.00  92.00   91.00  84.00
max    96.00  100.00  94.00  100.00  85.00

In [ ]:
grades.mean()

Wally    84.33
Eva      92.33
Sam      87.00
Katie    87.67
Bob      77.67
dtype: float64

### Transpondo o `DataFrame` com o atributo `T`

In [ ]:
grades.T

       Test1  Test2  Test3
Wally     87     96     70
Eva      100     87     90
Sam       94     77     90
Katie    100     81     82
Bob       83     65     85

In [ ]:
grades.T.describe()

        Test1  Test2  Test3
count    5.00   5.00   5.00
mean    92.80  81.20  83.40
std      7.66  11.54   8.23
min     83.00  65.00  70.00
25%     87.00  77.00  82.00
50%     94.00  81.00  85.00
75%    100.00  87.00  90.00
max    100.00  96.00  90.00

In [ ]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

### Ordenando por linhas por seus índices

In [ ]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [ ]:
grades.sort_index(ascending=False)

       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     82   85
Test2     96   87   77     81   65
Test1     87  100   94    100   83

### Ordenando por indice de coluna

In [ ]:
grades.sort_index(axis=1)

       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65   87     81   77     96
Test3   85   90     82   90     70

### Ordenando por valores de colunas

In [ ]:
grades.sort_values(by='Test1', axis=1, ascending=False)

       Eva  Katie  Sam  Wally  Bob
Test1  100    100   94     87   83
Test2   87     81   77     96   65
Test3   90     82   90     70   85

In [ ]:
grades.T.sort_values(by='Test1', ascending=False)

       Test1  Test2  Test3
Eva      100     87     90
Katie    100     81     82
Sam       94     77     90
Wally     87     96     70
Bob       83     65     85

### Cópia vs. Ordenação no local

Por padrão, sort_index e sort_values retornam uma cópia do DataFrame original, o que pode exigir memória substancial em um aplicativo de big data. Você pode classificar o DataFrame no local, em vez de copiar os dados. Para fazer isso, passe o argumento de palavra-chave inplace=True para sort_index ou sort_values.

In [ ]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87    0   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [ ]:
grades.sort_values(by='Test1', axis=1)

       Bob  Wally  Sam  Eva  Katie
Test1   83     87   94  100    100
Test2   65     96   77   87     81
Test3   85     70   90   90     82

In [ ]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [ ]:
grades.sort_values(by='Test1', axis=1, inplace=True)

In [ ]:
grades

       Bob  Wally  Sam  Eva  Katie
Test1   83     87   94  100    100
Test2   65     96   77   87     81
Test3   85     70   90   90     82


## Atividade

### Dado o seguinte dicionátior:
```python 
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82],
         'Thu': [75, 97], 'Fri': [62, 79]}
```
execute as seguintes tarefas:

**a.** Converta o dicionário no `DataFrame` chamado `temperatures` com `'Low'` e `'High'` como os índices, então exiba o `DataFrame`.

**b.** Use os nomes das colunas para selecionar apenas as colunas para `'Seg'` a `'Qua'`.

**c.** Use o índice de linha `'Baixo'` para selecionar apenas as temperaturas baixas para cada dia.

**d.** Defina a precisão do ponto flutuante como 2 e calcule a temperatura média para cada dia.

**e.** Calcule as temperaturas médias baixas e altas.

Resposta