#1 Declarações de controle

#2 Declaração if

In [ ]:
grade = 65

In [ ]:
if grade >= 70:
  print('passed')
  print('ok')
print('parabéns')

parabéns

## Indentação de bloco

In [ ]:
if grade >= 60:
print('Passed')  # statement is not indented properly

IndentationError: ignored

In [ ]:
if grade >= 60:
    print('Passed')
print('Good job!')

Passed
Good job!

##Toda expressão pode ser tratada como True ou False

In [ ]:
if 1:
    print('Nonzero values are true, so this will print')

Nonzero values are true, so this will print

In [ ]:
if 1.5:
    print('Nonzero values are true, so this will print')

Nonzero values are true, so this will print

In [ ]:
if 8000:
    print('Nonzero values are true, so this will print')

Nonzero values are true, so this will print

In [ ]:
if 0:
    print('Zero is false, so this will not print')

In [ ]:
if False:
    print('nao vai exibir')

In [ ]:
if True:
  print(grade)

65

# 3: declarações `if`…`else` and `if`…`elif`…`else`

In [ ]:
grade = 85

In [ ]:
if grade >= 60: 
    print('Passed')
    print('ok')
else:
    print('Failed')

Passed
ok

In [ ]:
grade = 57

In [ ]:
if grade >= 60: 
    print('Passed')
else:
    print('Failed')

Failed

##Expressão condicional

In [ ]:
grade = 87

In [ ]:
if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'

In [ ]:
result

'Passed'

In [ ]:
result = ('Passed' if grade >= 60 else 'Failed') #Expressão condicional concisa

In [ ]:
result

'Passed'

In [ ]:
'Passed' if grade >= 60 else 'Failed'

'Passed'

In [ ]:
1 if grade >= 60 else 0

1

In [ ]:
True if grade >= 60 else False

True

##Multiplas declarações em um bloco

In [ ]:
grade = 49

In [ ]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
    print('You must take this course again')

Failed
You must take this course again

In [ ]:
grade = 100

Cuidado com a indentação

In [ ]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
print('You must take this course again')

Passed
You must take this course again

## `if`…`elif`…`else` Statement

In [ ]:
grade = 77

In [ ]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:                 #ultima opcao
    print('F')

In [ ]:
!python --version

Python 3.7.13

##Atividade

Mostre que um SyntaxError ocorre se uma instrução if…elif especifica um else antes do último elif.

In [ ]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
else grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:                 #ultima opcao
    print('F')

SyntaxError: ignored

In [ ]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')

C

In [ ]:
grade=33

In [ ]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')

# 4 Declaração While

In [ ]:
product = 3

In [ ]:
while product <= 50:
  product = product * 3

In [ ]:
product

81

##Atividade

Escreva instruções para determinar a primeira potência de 7 maior que 1000. (7 x 7 x 7...)

In [ ]:
7 * 7 * 7

343

In [ ]:
product = 7
while product <= 1000:
  product = product * 7

In [ ]:
product

2401

# 5 Declação for

In [ ]:
for character in 'Programming':
    print(character)

P
r
o
g
r
a
m
m
i
n
g

In [ ]:
for character in 'Programming':
    print(character, end='  ')

P  r  o  g  r  a  m  m  i  n  g

In [ ]:
for letra in 'Programming':
    print(letra, end=' - ')

P - r - o - g - r - a - m - m - i - n - g -

In [ ]:
print?

A função interna print exibe seu(s) argumento(s) e, em seguida, move o cursor para a próxima linha. Você pode alterar esse comportamento com o argumento end

In [ ]:
print(10, 20, 30)

10 20 30

In [ ]:
print(10, 20, 30, sep=', ')

10, 20, 30

##Iteráveis, listas e iteradores

Um iterável é um objeto do qual a instrução for pode pegar um item por vez até que não restem mais itens.

In [ ]:
total = 0

In [ ]:
for number in [2, -3, 0, 17, 9]: #lista não é array
    total = total + number

In [ ]:
total

25

Uma lista é diferente de um array. Uma lista permite objetos de tipos diferentes.

##A função range

In [ ]:
range(10)

In [ ]:
type(range(10))

range

In [ ]:
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

observar que só gerou até o 9

# 6 Atribuições ampliadas

In [ ]:
total = 0

In [ ]:
total = total + 1

In [ ]:
total

1

In [ ]:
total += 1

In [ ]:
total

2

In [ ]:
total=0

In [ ]:
for number in [1, 2, 3, 4, 5]:
    total += number  # add number to total and store in number

In [ ]:
total

15

## Atividade

Crie uma variável x com o valor 12. Use uma instrução de atribuição de exponenciação aumentada para elevar o valor de x ao quadrado. Mostre o novo valor de x.

Resposta

In [ ]:
x = 12

In [ ]:
x ** 2

144

In [ ]:
x **= 2

In [ ]:
x

144

#7 Desenvolvimento do Programa: Repetição Controlada por Sequência

In [ ]:
"""Class average program with sequence-controlled repetition."""
# initialization phase
total = 0 # sum of grades
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94] # list of 10 grades

# processing phase
for grade in grades:
    total += grade # add current grade to the running total
    grade_counter += 1 # indicate that one more grade was processed
# termination phase
average = total / grade_counter
print(f'A média da classe é {average}')

A média da classe é 81.7

f-string

##Atividade - Exiba uma f-string na qual você insere os valores das variáveis
número1 (7) e número2 (5) e seu produto. A string exibida deve ser 
> 7 vezes 5 é 35

Resposta

In [ ]:
numero1 = 7
numero2 = 5

print(f'{numero1} vezes {numero2} é {numero1 * numero2}')

7 vezes 5 é 35

# 8 Desenvolvimento do Programa: Repetição Controlada Sentinela

In [ ]:
"""Class average program with sentinel-controlled iteration."""

# initialization phase
total = 0  # sum of grades
grade_counter = 0  # number of grades entered

# processing phase
grade = int(input('Entre uma nota, -1 para encerrar: '))  # get one grade

while grade != -1: #sentinela
    total += grade
    grade_counter += 1
    grade = int(input('Enter grade, -1 to end: '))

# termination phase
if grade_counter != 0:
    average = total / grade_counter
    print(f'Class average is {average:.2f}')
else:
    print('No grades were entered')

Entre uma nota, -1 para encerrar: 8
Enter grade, -1 to end: 9
Enter grade, -1 to end: 8
Enter grade, -1 to end: -1
Class average is 8.333333333333334

# 9 Desenvolvimento do Programa: Declarações de Controle Aninhadas

In [ ]:
"""Using nested control statements to analyze examination results."""

# initialize variables
passes = 0  # number of passes
failures = 0  # number of failures

# process 10 students
for student in range(10):
    # get one exam result
    result = int(input('Enter result (1=pass, 2=fail): '))

    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1

# termination phase
print('Passed:', passes)
print('Failed:', failures)

if passes > 8:
    print('Bonus to instructor')

Observar a formatação do objeto average com duas casas decimais

##Atividade - Use uma instrução for para receber dois números inteiros. Use uma instrução if…else aninhada para exibir se cada valor é par ou ímpar. Digite 10 e 7 para testar seu código.

Resposta

In [ ]:
valor = input("Entre um inteiro: ")

Entre um inteiro: 8

In [ ]:
valor

'8'

In [ ]:
type(valor)

str

In [ ]:
int(valor)

8

In [ ]:
for contador in range(2):
  valor = int(input("Entre um inteiro: "))
  if valor % 2 == 0:
    print(f'{valor} é par')
  else:
    print(f'{valor} é impar')

Entre um inteiro: 4
4 é par
Entre um inteiro: 5
5 é impar

#10 A função interna range: mais detalhes

In [ ]:
for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [ ]:
for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [ ]:
for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

##Atividade - Use uma instrução for, range e print para exibir em uma linha a
sequência de valores 99 88 77 66 55 44 33 22 11 0, cada um separado por um espaço.

Resposta

In [ ]:
for number in range(99, -1, -11):
    print(number, end=' ')

99 88 77 66 55 44 33 22 11 0

#11 Usando o tipo decimal para valores monetários

In [ ]:
amount = 112.31

In [ ]:
print(amount)

112.31

In [ ]:
print(f'{amount:.20f}')

112.31000000000000227374

In [ ]:
type(amount)

float

In [ ]:
a = 0.2

In [ ]:
b = 0.1

In [ ]:
a + b

0.30000000000000004

##importando o tipo Decimal do modulo decimal

In [ ]:
from decimal import Decimal

In [ ]:
principal = Decimal('1000.00')

In [ ]:
principal

Decimal('1000.00')

In [ ]:
rate = Decimal('0.05')

In [ ]:
rate

Decimal('0.05')

In [ ]:
rate = Decimal('0.3')
rate

Decimal('0.3')

# 12 Declarações break e continue

In [ ]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

#Operadores booleanos and, or e not

##and

In [ ]:
gender = 'Female'

In [ ]:
age = 70

In [ ]:
if gender == 'Female' and age >= 65:
    print('Senior female')

Senior female

##or

In [ ]:
semester_average = 83

In [ ]:
final_exam = 95

In [ ]:
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

##not

In [ ]:
grade = 87

In [ ]:
if not grade == -1:
   print('The next grade is', grade)

The next grade is 87

In [ ]:
if grade != -1:
   print('The next grade is', grade)

The next grade is 87

#13 Introdução à Ciência de Dados: Medidas de Tendência Central - Média, Mediana e Moda

Variáveis com dados medidos ou de contagem podem ter milhares de valores distintos. 

Uma etapa básica na exploração de seus dados é obter um “valor típico” para cada recurso (variável): uma estimativa de onde a maioria dos dados está localizada (ou seja, sua tendência central).

* média — o valor médio em um conjunto de valores.
* mediana — o valor do meio quando todos os valores são organizados em ordem de classificação.
* moda — o valor que ocorre com mais frequência.

###Média

![image.png]()

###Média em outra notação

![image.png]()

In [ ]:
grades = [85, 93, 45, 89, 85]

In [ ]:
sum(grades)

397

In [ ]:
len(grades)

5

In [ ]:
sum(grades) / len(grades)

79.4

In [ ]:
import statistics

In [ ]:
statistics.mean(grades)

79.4

###Mediana

Comparada com a média, que usa todas as observações, a mediana depende apenas dos valores no centro dos dados ordenados.

Para calcular a mediana:

* Devemos ordenar o conjunto de dados em ordem crescente;
* Se o número de elementos for par, então a mediana é a média dos dois valores centrais. Soma os dois valores centrais e divide o resultado por 2: (a + b)/2.
* Se o número de elementos for ímpar, então a mediana é o valor central.

A mediana é referida como uma estimativa robusta de localização, uma vez que não é influenciada por outliers (casos extremos) que podem distorcer os resultados. Um outlier é qualquer valor que esteja muito distante dos outros valores em um conjunto de dados.

In [ ]:
statistics.median(grades)

85

In [ ]:
grades = [85, 93, 45, 89, 85, 889]

In [ ]:
statistics.mean(grades)

214.33333333333334

In [ ]:
statistics.median(grades)

87.0

###Moda

A moda de um determinado conjunto de dados é o resultado que mais se repete no conjunto, ou seja, o que possui maior frequência absoluta.

In [ ]:
statistics.mode(grades)

85

In [ ]:
sorted(grades)

[45, 85, 85, 89, 93, 889]

In [ ]:
grades

[85, 93, 45, 89, 85, 889]

A função mode causa um StatisticsError para listas como
[85, 93, 45, 89, 85, 93]
em que existem dois ou mais valores “mais frequentes”. Esse conjunto de valores é dito bimodal.

In [ ]:
statistics.mode([85, 93, 45, 89, 85, 93])

StatisticsError: ignored

##Atividade -  Para os valores 47, 95, 88, 73, 88 e 84, utilize o módulo de estatística para calcular a média, mediana e moda.

In [ ]:
import statistics

In [ ]:
values = [47, 95, 88, 73, 88, 84]

In [ ]:
statistics.mean(values)

79.16666666666667

In [ ]:
statistics.median(values)

86.0

In [ ]:
statistics.mode(values)

88

#Uma análise básica de um conjunto de dados

pegar o conjunto de dados "state.csv"
https://github.com/gedeck/practical-statistics-for-data-scientists/tree/master/data

In [ ]:
import pandas
estados = pandas.read_csv("https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/master/data/state.csv")

In [ ]:
type(estados)

pandas.core.frame.DataFrame

In [ ]:
estados

             State  Population  Murder.Rate Abbreviation
0          Alabama     4779736          5.7           AL
1           Alaska      710231          5.6           AK
2          Arizona     6392017          4.7           AZ
3         Arkansas     2915918          5.6           AR
4       California    37253956          4.4           CA
5         Colorado     5029196          2.8           CO
6      Connecticut     3574097          2.4           CT
7         Delaware      897934          5.8           DE
8          Florida    18801310          5.8           FL
9          Georgia     9687653          5.7           GA
10          Hawaii     1360301          1.8           HI
11           Idaho     1567582          2.0           ID
12        Illinois    12830632          5.3           IL
13         Indiana     6483802          5.0           IN
14            Iowa     3046355          1.9           IA
15          Kansas     2853118          3.1           KS
16        Kentucky     4339367          3.6           KY
17       Louisiana     4533372         10.3           LA
18           Maine     1328361          1.6           ME
19        Maryland     5773552          6.1           MD
20   Massachusetts     6547629          2.0           MA
21        Michigan     9883640          5.4           MI
22       Minnesota     5303925          1.6           MN
23     Mississippi     2967297          8.6           MS
24        Missouri     5988927          6.6           MO
25         Montana      989415          3.6           MT
26        Nebraska     1826341          2.9           NE
27          Nevada     2700551          6.0           NV
28   New Hampshire     1316470          0.9           NH
29      New Jersey     8791894          3.9           NJ
30      New Mexico     2059179          4.8           NM
31        New York    19378102          3.1           NY
32  North Carolina     9535483          5.1           NC
33    North Dakota      672591          3.0           ND
34            Ohio    11536504          4.0           OH
35        Oklahoma     3751351          4.5           OK
36          Oregon     3831074          2.0           OR
37    Pennsylvania    12702379          4.8           PA
38    Rhode Island     1052567          2.4           RI
39  South Carolina     4625364          6.4           SC
40    South Dakota      814180          2.3           SD
41       Tennessee     6346105          5.7           TN
42           Texas    25145561          4.4           TX
43            Utah     2763885          2.3           UT
44         Vermont      625741          1.6           VT
45        Virginia     8001024          4.1           VA
46      Washington     6724540          2.5           WA
47   West Virginia     1852994          4.0           WV
48       Wisconsin     5686986          2.9           WI
49         Wyoming      563626          2.7           WY

In [ ]:
estados.head(10)

         State  Population  Murder.Rate Abbreviation
0      Alabama     4779736          5.7           AL
1       Alaska      710231          5.6           AK
2      Arizona     6392017          4.7           AZ
3     Arkansas     2915918          5.6           AR
4   California    37253956          4.4           CA
5     Colorado     5029196          2.8           CO
6  Connecticut     3574097          2.4           CT
7     Delaware      897934          5.8           DE
8      Florida    18801310          5.8           FL
9      Georgia     9687653          5.7           GA

In [ ]:
statistics.mean(estados['Population'])

6162876.3

In [ ]:
estados['Population'].mean()

6162876.3

In [ ]:
estados['Population'].median()

4436369.5

In [ ]:
estados['Population'].mode()

0       563626
1       625741
2       672591
3       710231
4       814180
5       897934
6       989415
7      1052567
8      1316470
9      1328361
10     1360301
11     1567582
12     1826341
13     1852994
14     2059179
15     2700551
16     2763885
17     2853118
18     2915918
19     2967297
20     3046355
21     3574097
22     3751351
23     3831074
24     4339367
25     4533372
26     4625364
27     4779736
28     5029196
29     5303925
30     5686986
31     5773552
32     5988927
33     6346105
34     6392017
35     6483802
36     6547629
37     6724540
38     8001024
39     8791894
40     9535483
41     9687653
42     9883640
43    11536504
44    12702379
45    12830632
46    18801310
47    19378102
48    25145561
49    37253956
dtype: int64

In [ ]:
estados['Murder.Rate'].mean()

4.066

In [ ]:
estados['Murder.Rate'].median()

4.0

## Atividade

Import o conjunto de dados com o código a seguir

```
import pandas as pd
casas = pd.read_csv("https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv")
casas.head()
```



Este conjunto de dados apareceu em um artigo de 1997 intitulado Sparse Spatial Autoregressions por Pace, R. Kelley e Ronald Barry, publicado na revista Statistics and Probability Letters. Eles o construíram usando os dados do censo da Califórnia de 1990. Ele contém uma linha por grupo de quarteirões do censo. Um grupo de quarteirões é a menor unidade geográfica para a qual o U.S. Census Bureau publica dados de amostra (um grupo de quarteirões normalmente tem uma população de 600 a 3.000 pessoas). 

Usando o exemplo que apresentamos anteriormente, calcule a média e a mediana median_house_value e do median_income

In [ ]:
import pandas as pd
casas = pd.read_csv("https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv")
casas.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
casas["median_house_value"].mean()

206855.81690891474

In [ ]:
casas["median_house_value"].median()

179700.0

In [ ]:
print(f'asdf"a"sfd')

asdf"a"sfd

In [ ]:
print(f'{casas["median_house_value"].mean():.2f}')

206855.82

In [ ]:
casas["median_income"].mean()

3.8706710029069766

In [ ]:
casas["median_income"].median()

3.5347999999999997